{% extends 'Cutisey/basic.html' %}
{% block title %} Contact Us - Cutisey{% endblock %}
{% block css %}
body {
    background: url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg');
  }

h3{
    margin-top: 30px;
}  
.container{
  margin-top:70px;
}  
{% endblock%}
{% block body %}
<div class="container">
    <h3>Contact Us</h3>
    <form action="/Cutisey/contact/" method="post">{% csrf_token %}
 <div class="form-group">
   <label for="name">Name</label>
   <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
 </div>
         <div class="form-group">
   <label for="name">Email</label>
   <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
 </div>
         <div class="form-group">
   <label for="name">Phone</label>
   <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
 </div>
         <div class="form-group">
  <div class="form-group">
   <label for="desc">How Can We Help You ?</label>
   <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
 </div>
 <button type="submit" class="btn btn-dark">Submit</button>
{% endblock %}