{% extends 'Cutisey/basic.html' %}
{% block css %}
body
{
  background:url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg');
}

.col-md-3
{
display: inline-block;
margin-left:-4px;
}

.carousel-indicators .active {
background-color: blue;
}

.col-md-3 img{

width: 235px;
height: 255px;
}

body .carousel-indicator li{
background-color: blue;
}

body .carousel-indicators{
bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: blue;
}
body .no-padding{
padding-left: 0,
padding-right: 0;
}
.top{
margin-top:17px;

text-align:center;
color:#d52e3f;
	font-weight:bold;    
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b, 
                   13px 13px 0px #efa032, 
                   
}
{% endblock %}

{% block body %}
{% load static %}
<div class="container">
<h3 class="top">Our New Spring Collection </h3>
<div class="row">
  <div id="demo" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>

      {% for i in range %}
      <li data-target="#demo" data-slide-to="{{i}}"></li>
      {% endfor %}
    </ul>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">
 
     {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc}}</p>
              <button id="pr{{i.id}}" class="btn btn-dark cart">I Like it!</button>
             <a href="/Cutisey/products/{{i.id}}"> <button id="qv{{i.id}}" class="btn btn-dark cart">Quick view</button></a>
            </div>
          </div>
         
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %} -->
       </div>
      <div class="carousel-item">
        {% endif %}

        {% endfor %}
      </div> 
      </div>



    </div>
  </div>
  <!-- left and right controls for the slide -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

  {% endblock %}
  {% block js %}
  <script>
    console.log('working')
    if (localStorage.getItem('cart') == null) {
      var cart = {};
    }
    else {
      cart = JSON.parse(localStorage.getItem('cart'));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    //jQuery starts here //
    $('.cart').click(function () {

      console.log('clicked');
      var idstr = this.id.toString();
      console.log(idstr);
      if (cart[idstr] != undefined) {
        cart[idstr] = cart[idstr] + 1;
      }
      else {
        cart[idstr] = 1;
      }
      console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });
    $('#popcart').popover();
    document.getElementById("popcart").setAttribute('data-content', '<h5>Your items in Shopping Cart</h5>');

  </script>
  {% endblock %}