{% extends 'Cutisey/basic.html' %}
{% block title%} {{product.product_name}} - My Awesome Cart{% endblock %}
{% block css %}
body {
    background: url('https://s-media-cache-ak0.pinimg.com/736x/f4/ac/6a/f4ac6aac3afb587f6cae04155656fca3.jpg');
    }
    
.container{
    margin-top:6rem;
}

.small-text {
    margin-top: 2rem;
    font-size: 14px;
  }
  
.small-text span {
    font-weight: bold;
  }
.price {
    margin-bottom: 10px;
    font-color: grey;
}
  
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{product.image}}" width="300px" height="400px">
    </div>
        

    </div>

    <div class="col-md-8">
        <h2>{{product.product_name}}</h2>
        <p class="price"><b> $ {{product.price}} </b></p>
        <p>{{product.desc}}</p>
        
     
        <button class="btn btn-dark">Buy Now</button>
            <button class="btn btn-dark">Add To Cart</button>
            <p class="small-text"><span>Standard delivery</span> 2-5 working days</p>
            <p class="small-text"><span>Next day delivery</span> order before 2pm ($5.79)</p>
      

    </div>
    </div>


</div>




{% endblock %}



